@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'khmer OS content' !important; */
  font-family: "Khmer OS", "Khmer OS Muol", "Battambang", "Hanuman", "Leelawadee UI", "Noto Serif Khmer", "Arial", sans-serif !important;

}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}